.banner {
    height: 25em;
    background-image: linear-gradient(#009fff,
    #323dd5);
}

img {
    margin: 0 auto;
    display: block;
    padding-top: 2em;
}

h1,h2,h3,h4 {
    font-family: Calibri;
    color: 
    wheat;
    text-align: center;
}

h1{
    font-size: 2em;
    text-transform: capitalize;
}

h2{
    opacity: 0.5;
    margin-top: -1em;
}

iframe {
    width: 19em;
    height: 12em;
    margin: 0 auto;
    display: block;
}